# Outils de build compatibles Python 3.13
pip 
setuptools 
wheel 

# Core
streamlit
pandas  

# Visualisation
matplotlib==3.9.2
seaborn==0.13.2
plotly
# Machine Learning
scikit-learn==1.5.2
# Logging et couleurs
rich==14.2.0
pygments==2.19.2
 
 
